# Maven specific
target/
pom.xml.tag
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE specific
.idea/
*.iml

# Selenium specific
driver/

# TestNG specific
test-output/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
bin/
